html{
    font-size: 10px;
    background: url('./background.jpg') bottom center;
    background-size: cover;
}
html, body{
  margin: 0;
  padding: 0;
  font-family: sans-serif; 
}

.container-button{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

div.button{
    width: auto;
    height: 100vh;
  
}

